<body>
<div class="header-login">
    <form  [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1>Ingresar - Login</h1>
 
    <div class="input-box">
        <input type="text" formControlName="username" placeholder="Usuario" required>
        <i class="bi bi-person-fill"></i>
    </div>
    <div class="input-box">
        <input type="password" formControlName="password" placeholder="Contraseña" required>
        <i class="bi bi-lock-fill"></i>
    </div>
    <div class="remember-forgot">
        <label><input type="checkbox">Recordar            
        </label>
        <a href="#">Olvidaste tu contraseña?</a>
    </div>
    <button type="submit" class="btn" [disabled]="!loginForm.valid">Entrar</button>
    <div class="register-link">
        <p>No tienes una cuenta? <a href="#">Registrar</a></p>
    </div>
</form>
</div>
</body>